{% load dajaxice_templatetags %}
<html xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}dhtmlxTree/codebase/dhtmlxtree.css">
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{STATIC_URL}}dhtmlxTree/codebase/dhtmlxcommon.js"></script>
<script src="{{STATIC_URL}}dhtmlxTree/codebase/dhtmlxtree.js"></script>
<script src="{{STATIC_URL}}dhtmlxTree/codebase/ext/dhtmlxtree_json.js"></script>
<script src="{{STATIC_URL}}dist/libs/jquery.js"></script>
<script src="{{STATIC_URL}}js/jquery.columns.min.js"></script>
<script src="{{STATIC_URL}}dist/jstree.min.js"></script>


<style type="text/css">
            textarea {
               resize: none;
            }
            p
            {
                background-color: #F6AF3A;
            }
            .readable
            {
                 font-size: 1em;
                 width:25 em;
            }
            .div
            {
                border:2px solid #DDD;
                align-content:space-around;

            }

            .body
            {
                font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
				font-size: 0.9em;
				background-color: #EEE;
				color: #333;
				border: 1px solid #DDD;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 0.2em;
            }
			.calendar {
				font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
				font-size: 0.9em;
				background-color: #EEE;
				color: #333;
				border: 1px solid #DDD;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 0.2em;
				width: 14em;
			}

			.calendar .months {
				background-color: #F6AF3A;
				border: 1px solid #E78F08;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				color: #FFF;
				padding: 0.2em;
				text-align: center;
			}

			.calendar .prev-month,
			.calendar .next-month {
				padding: 0;
			}

			.calendar .prev-month {
				float: left;
			}

			.calendar .next-month {
				float: right;
			}

			.calendar .current-month {
				margin: 0 auto;
			}

			.calendar .months .prev-month,
			.calendar .months .next-month {
				color: #FFF;
				text-decoration: none;
				padding: 0 0.4em;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				cursor: pointer;
			}

			.calendar .months .prev-month:hover,
			.calendar .months .next-month:hover {
				background-color: #FDF5CE;
				color: #C77405;
			}

			.calendar table {
				border-collapse: collapse;
				padding: 0;
				font-size: 0.8em;
				width: 100%;
			}

			.calendar th {
				text-align: center;
			}

			.calendar td {
				text-align: right;
				padding: 1px;
				width: 14.3%;
			}

			.calendar td span {
				display: block;
				color: #1C94C4;
				background-color: #F6F6F6;
				border: 1px solid #CCC;
				text-decoration: none;
				padding: 0.2em;
				cursor: pointer;
			}

			.calendar td span:hover {
				color: #C77405;
				background-color: #FDF5CE;
				border: 1px solid #FBCB09;
			}

			.calendar td.today span {
				background-color: #FFF0A5;
				border: 1px solid #FED22F;
				color: #363636;
			}

		</style>
 </head>
{% dajaxice_js_import %}
<table class="body" cellpadding="0" cellspacing="0">
<tr>
    <td colspan="4" style="background-color:#EEE;">
    <h1 style="margin:0;padding:0;">BPL Research</h1>
    </td>
</tr>
<tr>
    <td colspan="2" style="background-color:#F6AF3A;width=22em;vertical-align:top;">
        <div id = "treeBox" style ="width:240px; height:200px;background-color:#F6AF3A; overflow:auto;"></div>
        <hr>
            <font size="2" >
            Request:
			<textarea id="sensor_req" name="SensorRequest" class="div"  style="width:27em;height:4em;" resize="None"></textarea>
			</font>
		<hr>
        <div>
            <button id="id_push" name="push" onclick=cb_push>Push</button>
            <button id="id_pop" name="pop" onclick="cb_pop">Pop</button>
            <button id="id_clear" name="Clear" onclick="cb_clear">Clear</button>
            <button id="id_perm" name="Permute" onclick="cb_permute">Permute</button>
        </div>
        <p>
        <select id="sensorlist" name="sensorlist[]" multiple="multiple" resize="None" name="sensorlist" style="height:10em;width:27em;" ></select>
        <hr>
        <font size="2" >Graph selection:</font><button id="id_gfilter" name="filtered">Filtered</button>
        <button id="id_gufilter" name="uniltered">Unfiltered</button>
        </p>
        <div>
            <hr>
            <font size="2" >
            Filter:(Array of Lambda(x),Time first)
            <textarea class="div" id="dtfilter" name="Date Filter:" style="width:27em;height:8em;" resize="None"></textarea>
            </font>
            <hr>
       </div>
       <div>
            <font size="2" >
             Expression to Graph: (format {i})
            <textarea id="expr" name="Expression" class="div"  style="width:27em;height:8em;" resize="None"></textarea>
            </font>
       <hr>
       </div>
       <div>
        <select id="id_graphtype" name="Type">
            <option value="1">Time Series</option>
			<option value="2">Table</option>
            <option value="3">Moving Std</option>
            <option value="4">XY</option>
            <option value="5">Correl</option>
            <option value="6">Frequencies</option>
			
        </select>
            <button id="graph">GRAPH</button>
	    <button id="csv">CSV</button>
	    <br>
            <input type="file" id="pfile" name="file"/>
            <button id="id_upload">Upload</button>
        </div>
        <hr>
         <div>
             <p>
            <font size="2" >
             Expression to Learn: (format {i})
            <textarea id="exprl"  class="div" name="Expression2" style="width:27em;height:8em;" resize="None"></textarea>
            </font>
             </p>
       </div>
       <div>
            MAW:<input id="id_maw" type="text" value="10" resize="None" style="height:20px;width:40px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></input>
            train size:<input id="id_pct" type="text" value="10" resize="None" style="height:20px;width:40px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></input>
            <br>
           <select id="id_machinetype" name="Machine Type">
            <option value="1">SVM Poly3</option>
            <option value="2">Gaussian</option>
            <option value="3">Logistic Regression</option>
            <option value="4">SVM Rbf</option>
            </select>
            <button id="id_train">TRAIN</button>
            <button id="id_run">RUN</button>
        </div>
        <hr>
        <p>
            <font size="2"> Configurations:</font><br>
            <select id="id_conflist" name="conflist"resize="None"style="height:40px;width:100px;"></select>
            <button id="id_load">Load</button></br>
            <textarea id="id_saveas" name="saveas" style="width:100px;height:18px;"resize="None"></textarea>
            <button id="id_save">Save</button></br>
        </p>
        <hr>
        <font size="1">
         <div class='div' id='log' style="overflow: auto;width:27em;height:15em;background-color:#EEE;" resize="None"></div>
        </font>
    </td>
    <td style="background-color:#EEE;height:10em;width:70em;vertical-align:top;">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/classic.css">
        <script src="{{ STATIC_URL }}js/highstock.js"></script>
        <script src="{{ STATIC_URL }}js/modules/exporting.js"></script>
		<script src="{{STATIC_URL}}js/jquery.columns.min.js"></script>
        <div align = "right" id='containerR' style='background-color: #FDF5CE; border:1px solid #DDD;height=8pm;width=80pm'></div>
         <hr>
        <div align = "right" id='containerG' style='background-color: #FDF5CE; border:1px solid #DDD;height=8pm;width=80pm'></div>
         <hr>
        <div align = "right" id='containerT' style='background-color: #FDF5CE; border:1px solid #DDD;height=11pm;width=80pm'></div>
   </td>
</tr>

<tr>
    <td colspan="4" style="background-color:#FFA500;text-align:center;">
    <font size="1">GC CUNY - BPL</font>
    <a href="/doc">Documentation</a>
    </td>
</tr>
</table>
 </body>
<script>

var tree = new dhtmlXTreeObject("treeBox","100%","100%",0);
var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : (window.ActiveXObject ? new window.ActiveXObject("Microsoft.XMLHTTP") : false);
var log = "/Users/eric/Sites/logs/building-error_log"
var curr_json;
function tree_init(){
    tree.setImagePath("{{STATIC_URL}}dhtmlxTree/codebase/imgs/");
    tree.setSkin('dhx_skyblue');
    tree.setImagePath("{{STATIC_URL}}dhtmlxTree/codebase/imgs/csh_bluebooks/");
    tree.setDataMode("json");
    tree.enableCheckBoxes(1);
    tree.enableThreeStateCheckboxes(true);
}
function cb_clear(){
    document.getElementById('sensorlist').innerHTML="";
}

function updateTxtContent(o){
  if (o.target.selected) {
    o.target.selected=false;
    return false;
    }
   else
     return true;
}
function create_item(c,v){
     opt = document.createElement("option");
     opt.textContent = c;
     opt.value = v;
     opt.onmousedown=updateTxtContent;
     return opt;
}
function cb_push(){
    var l1 = tree.getAllChecked().split(',');
    for (i=0;i<l1.length;i++){
        var result = l1[i].match(/Type/g)
        if (result != null)
             continue;
        result = l1[i].match(/Floor/g)
        if (result != null)
            continue;
       l = l1[i].split('-')
       opt = create_item(l[1],l[0]);
       var tg = document.getElementById('sensorlist');
       tg.add(opt,opt.value);
    }
    tree.setSubChecked('0',false)
 }

 function cb_pop(){
    var l = document.getElementById('sensorlist');
    var ind = l.options.length-1
    for (i=0; i<= ind;i++){
        var item = l.options[i];
        if (item.selected){
           ind = i;
           break;
        }
    }
    var item = l.options[i];
    l.remove(ind);
    return item;
 }

 function cb_permute(){
     lst = cb_pop();
     fst = document.getElementById('sensorlist').options[0];
     document.getElementById('sensorlist').insertBefore(lst,fst)
 }

 function callback_load(){
    tree_init();
    Dajaxice.building.getSensorTree(callback_settree);
    Dajaxice.building.getConfList(cb_setconflist);
    tail('start',log, 20)
 }

 function callback_settree(t){
    ar = t.message;
    tree.loadJSONObject(ar);
}

function callback_Sensors(data){
    var dd = document.getElementById('id_Sensor')
    dd.innerHTML="";
    data.message.forEach(function(entry) {
        opt = document.createElement("option");
        opt.value = entry.id;
        opt.textContent = entry.name;
        dd.add(opt,0);
    });
    dd.value=0
}

function cb_getcsv(){
    callback_csv(curr_json)
}

function convert_dt(dt){
    var d = new Date(dt)
    var formatted = ("00" + (d.getUTCMonth()+1) ).substr(-2,2) + "/" 
    formatted += ("00" + d.getUTCDate()).substr(-2,2) + "/" + d.getUTCFullYear()
    formatted += " " + ("00" +  d.getUTCHours()).substr(-2,2)  + ":" + ("00" + d.getUTCMinutes()).substr(-2,2)  + ":00"
    return formatted
} 

function callback_csv(jsondata){
    var series = new Array();
    var lineno=0
    var dt = jQuery.parseJSON(jsondata);
    
    var str='Timestamp';
    
    for (col=0;col< dt.length;col++){
		dt[col].data = jQuery.parseJSON(dt[col].data);
		str  = str + ', ' + dt[col].name;
    }
    str += '\r\n'
    
    for (row=0;row<dt[0].data.length;row++){
		var line = convert_dt(dt[0].data[row][0]);
		for (col=0;col< dt.length;col++){ 
			if (row < dt[col].data.length) {
				var value = (dt[col].data[row][1]);
				var newseg = ', 0';
				if (value != null)
					newseg = ', ' + value.toString()
				line += newseg;
			}
			else
				line += ', 0';
		}
	    str += line + '\r\n';
	    lineno++;
    }
    
    alert('csv in "download.csv"' + lineno)
    window.open('data:text/csv;charset=utf-8,' + escape(str));           
}

function cb_changetype(){
    if  (document.getElementById('id_graphtype').value != "23")
        document.getElementById('expr').style.display='block';
    else
        document.getElementById('expr').style.display='none';
}
function cb_changemtype(){
    if  (document.getElementById('id_machinetype').value != "23")
        document.getElementById('expr').style.display='block';
    else
        document.getElementById('expr').style.display='none';
}
function cb_getexpr(){
    cb_graph(true,true,callback_draw)
}
function cb_getraw(){
    cb_graph(false,true,callback_drawraw)
}
function cb_getrawfilt(){
    cb_graph(false,false,callback_drawraw)
}
function cb_graph(getexpression,getfilter,callback){
    var lists = new Array();
    var j = 0;
    var noneselected = true
    for (i=0;i<document.getElementById('sensorlist').options.length;i++){
        if (document.getElementById('sensorlist')[i].selected){
            noneselected = false;
            break;
        }
    }

    for (i=0;i<document.getElementById('sensorlist').options.length;i++){
        var add=getexpression;
        if (!getexpression)
            add = document.getElementById('sensorlist')[i].selected || noneselected;
        if (add){
            lists[j] = document.getElementById('sensorlist')[i].value;
            j++;
        }
    }
    var dtfilter = document.getElementById('dtfilter').value
    if (!getfilter)
        dtfilter = "";
    var expression = document.getElementById('expr').value
    if (!getexpression){
        expression = "";
		mname = get_confname() + '.raw';
	}
	else{
		mname = get_confname() + '.exp';
	}
    var expressionl = document.getElementById('exprl').value;
    var graphid = document.getElementById('id_graphtype').value-1;
    var graphtype = document.getElementById('id_graphtype')[graphid].textContent;
	var req = document.getElementById('sensor_req').value;
    var cargs= {'lists':lists,
       'graphtype':graphtype,
       'dtfilter':dtfilter,
	   'req':req,
       'expression':expression,
       'mtype':'none',
       'maw':0,
       'pct':0,
       'mname':mname,
       'learn':false
    };
    Dajaxice.building.getGraph(callback,cargs);
}

function cb_forecast(){
    cb_run(false)
}
function cb_train(){
    cb_run(true)
}

function cb_run(learn){
    var lists = new Array();
    for (i=0;i<document.getElementById('sensorlist').options.length;i++){
        lists[i] = document.getElementById('sensorlist')[i].value;
    }
    var dtfilter = document.getElementById('dtfilter').value
    var req = document.getElementById('sensor_req').value;
    var expression = document.getElementById('exprl').value
    var lid = document.getElementById('id_machinetype').value-1;
    var ltype = document.getElementById('id_machinetype')[lid].textContent;
    var maw = document.getElementById('id_maw').value
    var pct = document.getElementById('id_pct').value
    var cargs= {'lists':lists,
       'graphtype':'Learn',
       'dtfilter':dtfilter,
       'req':req,
       'expression':expression,
       'mtype':ltype,
       'maw':maw,
       'pct':pct,
       'mname':get_confname() + '.run',
       'learn':learn
    };
    Dajaxice.building.getGraph(callback_drawT,cargs);
    if (learn){
        cb_saveconf()
    }
}

function callback_drawraw(jsondata){
    callback_graph(jsondata,$('#containerR'),'Raw data')
}

function callback_draw(jsondata){
    callback_graph(jsondata,$('#containerG'),'Expression')
}
function clear(chart){
	if (chart == undefined || chart.series == undefined)
	    return;
	while( chart.series.length > 0 ) {
		chart.series[0].remove( false );
	}

	chart.redraw();
}
function callback_graph(jsondata,container,title){
	
	if (jsondata == null)
		return
    var series = new Array();
	var yaxis = new Array()
    var dt = jQuery.parseJSON(jsondata.message);
    var arg = jsondata.arg
    curr_json = jsondata.message
	
    if (arg[0] == 'StockChart'){
		yaxis = jQuery.parseJSON(arg[1])
        for (i=0;i< dt.length;i++){
            dt[i].data = jQuery.parseJSON(dt[i].data);
        }
        container.highcharts(arg[0], 
		{
			plotOptions: {
				series: {
					events: {
						legendItemClick: function () {
							var visibility = this.visible ? 'visible' : 'hidden';
                        }
                    }
                }
            },
			legend: {
				layout: 'horizontal',
				borderWidth: 0,
				enabled:true,
				floating:false
			},
			tooltip: {
				crosshairs: true,
				shared: false
			},
			rangeSelector : {
				selected : 1
			},
			title : {
				text : title
			},
			yAxis  : yaxis,
			series : dt

		});
	}
	else if (arg[0] == 'scatter'){
	    for (i=0;i< dt.length;i++){
            dt[i].data = jQuery.parseJSON(dt[i].data);
        }
	    container.highcharts({
			rangeSelector : {
				selected : 1
			},
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
			title : {
				text : title + ' XY'
			},
			series : dt
	        });
	    }
	else if (arg[0] == 'Histogram') {
		var bins = Array();
		for (i=0;i< 1;i++){
	         dt[i].data = jQuery.parseJSON(dt[i].data);
             bins[i] = dt[i].bins;
        }
	    container.highcharts({
	         xAxis:{
                 categories: bins[0],
                 labels:{
                    rotation:-90,
                    y:40,
                    style: {
                        fontSize:'8px',
                        fontWeight:'normal',
                        color:'#333'
                    },
                },
            },
			rangeSelector : {
				selected : 1
			},
            chart: {
                type: 'column',
                zoomType: 'xy'
            },
			title : {
				text : title + ' Frequency Distribution'
			},
			plotOptions: {
			    column: {
                pointPadding: 0,
                borderWidth: 0,
                groupPadding: 0,
                shadow: false
                }
			},
			series :  dt
	    });
	}
	else if (arg[0] == 'Table'){
		callback_drawCSV(jsondata,container,title)
	}
}

function SeriesToCSV(jsondata){
    var series = Array();
    var lineno=0;
    var dt = jQuery.parseJSON(jsondata);
    var colname = Array();
    var str='Timestamp';
    colname[0] = str
    for (col=0;col< dt.length;col++){
		dt[col].data = jQuery.parseJSON(dt[col].data);
		colname[col+1] = dt[col].name;
    }

    for (row=0;row<dt[0].data.length;row++){
		var ti = convert_dt(dt[0].data[row][0]);
		var namecol = colname[0];
		var line= {};
		line[namecol] = ti;		
		for (col=0;col<dt.length;col++){
		
			var value = 0;
			if (row < dt[col].data.length){
				value = dt[col].data[row][1];
			}
			line[colname[col+1]] = value;
		}
		series.push(line);
	    lineno++;
    }
    
    alert('series=' + lineno);
    return series;
}

function callback_drawCSV(jsondata,container,title){
	s = SeriesToCSV(jsondata.message)
	container.columns({
		data: s,
		sortBy : 'Timestamp'
	});
}
function callback_drawT(jsondata){
    if (jsondata == null)
		return
    var series = new Array();
	
    var dt = jQuery.parseJSON(jsondata.message);
    var arg = jsondata.arg[0];
	curr_json = jsondata.message
    for (i=0;i< dt.length;i++){
        dt[i].data = jQuery.parseJSON(dt[i].data);
    }
    if (arg == 'StockChart')
        $('#containerT').highcharts(arg, {
			rangeSelector : {
				selected : 1
			},

			title : {
				text : 'Forecast'
			},
			series : dt
		});
}
function get_confname(){
    var saveas = document.getElementById('id_saveas').value;
    if (saveas == ''){
        saveas = 'tmp'
    }
    return saveas;
}
function cb_setconflist(jsondata){
    var dd = document.getElementById('id_conflist')
    dd.innerHTML="";
    jsondata.message.forEach(function(entry) {
        opt = document.createElement("option");
        opt.value = entry.id;
        opt.textContent = entry.name;
        dd.add(opt);
    });
    dd.value=jsondata.arg
}

function cb_setconf(jsondata){
   document.getElementById('sensorlist').innerHTML="";
   jsondata.message.list.forEach(function(entry) {
       opt =  opt = create_item(entry[0],entry[1]);
       var tg = document.getElementById('sensorlist');
       tg.add(opt,opt.value);
   });
   document.getElementById('dtfilter').value = jsondata.message.dtfilter;
   document.getElementById('expr').value = jsondata.message.expression;
   document.getElementById('exprl').value = jsondata.message.expressionl;
   document.getElementById('id_graphtype').value = jsondata.message.graphtype;
   document.getElementById('id_machinetype').value = jsondata.message.mtype;
   document.getElementById('id_maw').value = jsondata.message.maw;
   document.getElementById('id_pct').value = jsondata.message.pct;
   document.getElementById('id_saveas').value = jsondata.message.id
   document.getElementById('sensor_req').value = jsondata.message.req;
   callback_drawraw(jsondata.raw)
   callback_draw(jsondata.exp)   
   callback_drawT(jsondata.run) 
   
}
function cb_saveconf(){
    var lists = new Array();
    for (i=0;i<document.getElementById('sensorlist').options.length;i++){
        lists[i] = document.getElementById('sensorlist')[i].value;
    }
    var dtfilter = document.getElementById('dtfilter').value
    var expression = document.getElementById('expr').value
    var expressionl = document.getElementById('exprl').value
    var graphid = document.getElementById('id_graphtype').value;
    var saveas = get_confname()
    var lid = document.getElementById('id_machinetype').value;
    var maw = document.getElementById('id_maw').value;
    var pct = document.getElementById('id_pct').value;
	var req = document.getElementById('sensor_req').value;
    var cargs= {
        'name':saveas,
        'lists':lists,
        'graphtype':graphid,
        'dtfilter':dtfilter,
		'req':req,
        'expression':expression,
        'expressionl':expressionl,
        'mtype':lid,
        'maw': maw,
        'pct':pct
    };
    Dajaxice.building.saveConf(cb_setconflist,cargs);
}
function cb_loadconf(){
    var nameid = document.getElementById('id_conflist').value;
    var name = document.getElementById('id_conflist')[nameid].textContent;
    var cargs= {
        'name':name
    };
	clear($('#containerR').highcharts());
	clear($('#containerG').highcharts())
	clear($('#containerT').highcharts())
    Dajaxice.building.getConf(cb_setconf,cargs);
}
function getLog(log, lines) {
        var url = "{{STATIC_URL}}getLogFile.php?log=" + log + "&lines=" + lines;
        request.open("GET", url, true);
        request.onreadystatechange = updatePage;
        request.send(null);
}

function tail(command,log,lines) {
    if (command == "start") {
            timer = setInterval(function() {getLog(log,lines);},5000);
    } else {
            clearTimeout(timer);
    }
}

function updatePage() {
        if (request.status == 200) {
                var currentLogValue = request.responseText.split("\n");
                eval(currentLogValue);
                document.getElementById("log").innerHTML = currentLogValue;
        }
}

function okfunc(whatever){
    alert('file uploaded')
}
function upload(){
    var file = document.getElementById('pfile').files[0];
    var reader = new FileReader();
    reader.onload = (function(theFile) {
    return function(e) {
        var cargs= {
        'text':e.target.result
    };
    Dajaxice.building.uploadPython(okfunc,cargs);
    };
  })(file);

  // Read in the image file as a data URL.
  reader.readAsText(file);
}

window.onload=callback_load;

document.getElementById('id_push').onclick=cb_push;
document.getElementById('id_pop').onclick=cb_pop;
document.getElementById('id_clear').onclick=cb_clear;
document.getElementById('id_perm').onclick=cb_permute;
document.getElementById('graph').onclick=cb_getexpr;
document.getElementById('csv').onclick=cb_getcsv;
document.getElementById('id_gfilter').onclick=cb_getraw;
document.getElementById('id_gufilter').onclick=cb_getrawfilt;
document.getElementById('id_train').onclick=cb_train;
document.getElementById('id_run').onclick=cb_forecast;
document.getElementById('expr').style.display='block';
document.getElementById('id_graphtype').onchange=cb_changetype;
document.getElementById('id_machinetype').onchange=cb_changemtype;
document.getElementById('id_save').onclick = cb_saveconf;
document.getElementById('id_load').onclick = cb_loadconf;
document.getElementById('id_upload').onclick = upload;
</script>

</html>



